<app-header></app-header>
<main class="main bg-dark">
  <section class="sign-in-content">
    <i class="fa fa-user-circle sign-in-icon"></i>
    <h1>Sign In</h1>
    <form>
      <div class="input-wrapper">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          value="email"
          autocomplete="current-email"
          (change)="handleEmailChange($event)"
        />
      </div>
      <div class="input-wrapper">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          value="password"
          autocomplete="current-password"
          (change)="handlePasswordChange($event)"
        />
      </div>
      <div class="input-remember">
        <input
          type="checkbox"
          id="remember-me"
          value="remember"
          autocomplete="true"
          (change)="handleRememberMeChange($event)"
        /><label for="remember-me"
      >Remember me</label
      >
      </div>
      <!-- PLACEHOLDER DUE TO STATIC SITE -->
      <p *ngIf="messageError" class="error-message">{{messageError}}</p>
      <button type="submit" class="sign-in-button" (click)="handleSubmit($event)">Sign In</button>
      <!-- SHOULD BE THE BUTTON BELOW -->
      <!-- <button class="sign-in-button">Sign In</button> -->
      <!--  -->
    </form>
  </section>
</main>
