<app-header [lastName]="lastName" [firstName]="firstName" ></app-header>
<main class="main bg-dark">
  <div class="header">
    <h1 *ngIf="firstName !== 'null' && lastName !== 'null'">Welcome back<br />{{firstName}} &nbsp; &nbsp; {{lastName}} !</h1>
    <h1 *ngIf="firstName !== 'null' && lastName === 'null'">Welcome back<br />{{firstName}} &nbsp; &nbsp;  !</h1>
    <h1 *ngIf="firstName === 'null' && lastName !== 'null'">Welcome back<br /> &nbsp; &nbsp; {{lastName}} !</h1>
    <h1 *ngIf="firstName === 'null' && lastName === 'null'">Welcome back<br /> !</h1>
    <app-editable-name *ngIf="update" [fullName]="profile"
                       [onSave]="profile.fullName"
                       [update]="update"
                       (newFullName)="handleNewFullName($event)"

    ></app-editable-name>
    <button class="edit-button" (click)="handleNameUpdate(profile.fullName)" *ngIf="update === false">Edit Name</button>
  </div>
  <h2 class="sr-only">Accounts</h2>
  <ng-container>
    <section class="account" *ngFor="let item of dataAccount">
      <div class="account-content-wrapper">
        <h3 class="account-title">{{item.title}} &nbsp;&nbsp; ({{item.accountNumber}})</h3>
        <p class="account-amount">{{item.accountPrice}}</p>
        <p class="account-amount-description">{{item.subTitle}}</p>
      </div>
      <div class="account-content-wrapper cta">
        <button class="transaction-button">View transactions</button>
      </div>
    </section>
  </ng-container>
</main>
<!--<app-footer></app-footer>-->
