
<div>
  <a  *ngIf="(url === '/user')"
    class="main-nav-item" routerLink="/user">
    <i class="fa fa-user-circle"></i>
<!--    {{firstName}} &nbsp;&nbsp; {{lastName}}-->
    <span *ngIf="firstName !== 'NULL' && lastName !== 'NULL'">{{firstName}} &nbsp; &nbsp; {{lastName}} !</span>
    <span *ngIf="firstName !== 'NULL' && lastName === 'NULL'">{{firstName}} &nbsp; &nbsp;  !</span>
    <span *ngIf="firstName === 'NULL' && lastName !== 'NULL'">&nbsp; &nbsp; {{lastName}} !</span>
    <span *ngIf="firstName === 'NULL' && lastName === 'NULL'">&nbsp; &nbsp; !</span>
  </a>
  <button *ngIf="url != '/'"
    class="main-nav-item btn-decoration-none"
          (click)="handelerLogOut()">
    <i class="fa fa-sign-out"></i>
    Sign Out
  </button>
  <button *ngIf="url === '/'"
    class="main-nav-item btn-decoration-none"
          (click)="handelerSignIn()">
    <i class="fa fa-user-circle"></i>
    Sign In
  </button>
</div>
